.containerAcordion {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 10px;
  text-align: center;
}

.accordion {
  background-color:white;
    color: rgb(51, 51, 51);
    cursor: pointer;
    padding: 18px;
    width: 40%;
    border: 1px solid black;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    font-weight: bold;
  }
  
  .active, .accordion:hover {
    background-color: rgba(231, 224, 224, 0.842); 
  }
  
  .panel {
    width: 40%;
    display:flex;
    flex-direction: column;
    margin-left: 5px;
    max-height: 0;
    font-size: 15px;
    overflow: hidden;
    align-items: flex-start;
    transition: max-height 0.8s ease-out;
  }


    
  .checkoutCard {
    display: flex;
    align-content: center;
    align-items: center;
    width: 96%;
    justify-content: space-between;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    }

    .tituloHistorico{
      width: 100%;
      text-align: center;
      font-size: 23px;
      font-weight: bold;
      margin-top: 3%;

    }